* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;

}

/*CREATE AND ADD BOOK TO PAGE------------------------------- */

.book-section {
    margin-top: 50px;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    line-height: 1.5;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    background-color: palevioletred;
}

.wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.book-container {
    width:auto;
    height: 300px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: palegoldenrod;
    flex-wrap: nowrap;
}

.book-content {
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0 5px;
    background-color: paleturquoise;
    height:100%;
    width: 150px;

}

.book-info {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-book {
    height: 10%;
}

/*BOOK FORM --------------------------------------------- */

#button-book {
    height: 100px;
    width: 70px;
    font-size: 4em;
    color: rgb(78, 77, 77);
    margin: auto 0;
    position:relative;
}



